body {
    background-color: #161a1c;
    font-family: 'Anton', sans-serif;
    font-family: 'Assistant', sans-serif;
    font-family: 'Jost', sans-serif;
    font-family: 'Oswald', sans-serif;
}

.test {
    color: white;
}